{erl_opts, [
   debug_info, 
   warnings_as_errors,
   warn_export_all
  ]}.
{deps, [
  {cowboy, "1.1.2"},
  {sync, ".*",
	{git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
]}.

{relx, [{release, {firsterl, "0.0.1"},
         [firsterl]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}
       ]
}.

{profiles, [
           {prod, [{relx, [{dev_mode, false},
                           {include_erts, true}]}]}
           ]
}.

